@model EWWebApp.Backend.EWBackend;

<h2>Result</h2>

<div class="container">
    <div class="row">
            Encrypted Word:
            @Model.Result
    </div>
    <div class="row">
        <br />
        @Html.ActionLink("Encrypt Another Word", "Encrypt", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
        @Html.ActionLink("Guess Shift", "GuessShift", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-warning" })
        @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
</div>